.navbar {
  overflow: hidden;
  background-color: #7D4CDB;
  height: auto;
  width: auto;
  position: fixed;
  transition: 'top 0.6s';
  left: 0;
  right: 0;
  top: 0;
  margin: 0px;
  align-items: center;
  display: flex;
}

.navbar img {
  height: 60px;
  width: 60px;
  margin: 10px;
}

.navbar-right {
  margin-left: auto;
  display: flex;
  list-style-type: none;
}

.navbar-right li a {
  text-decoration: none;
  color: #6FFFB0;
  outline-style: solid;
  outline-color: #6FFFB0;
  border-radius: 30%;
  padding: 3vh;
  margin: 2vh;
}

.navbar-right li a:hover {
  color: #7D4CDB;
  outline-style: solid;
  outline-color: #7D4CDB;
  background-color: #6FFFB0;
}