/* Menu Items Styles */
.menu-items {
  margin-left: auto;
  display: flex;
  list-style-type: none;
}

.menu-items li a {
  text-decoration: none;
  color: #6fffb0;
  padding: 2vh 2vw;
  font-size: 1.5vw;
  width: 5em;
}

.menu-items li a:hover {
  color: #7d4cdb;
  outline-style: solid;
  outline-color: #7d4cdb;
  border-radius: 25%;
  background-color: #6fffb0;
}