/* Menu Icon Button Area*/
icon-button {
  height: 100vh;
  width: auto;
  background-color: #7d4cdb;
  border-color: #7d4cdb;
}

/* Hamburger and Close Button Bar Styles */
.icon {
  background-color: #7d4cdb;
  border: none;
  margin: 1em 4em;
}

.icon span {
  display: block;
  position: absolute;
  width: 2.8em;
  height: 0.25em;
  margin: 1vh 0;
  background: #6fffb0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

/* Sets up initial Hamburger Icon */
.icon span:nth-child(1) {
  top: 0vh;
}
.icon span:nth-child(2),
.icon span:nth-child(3) {
  top: 2vh;
}

.icon span:nth-child(4) {
  top: 4vh;
}

/* Transform Icon to Close Symbol */
.icon.transform {
  animation: spin 1s linear;
}

.icon.transform span:nth-child(1) {
  top: 2vh;
  width: 0%;
}

.icon.transform span:nth-child(2) {
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.icon.transform span:nth-child(3) {
  -webkit-transform: rotate(-315deg);
  -moz-transform: rotate(-315deg);
  -o-transform: rotate(-315deg);
  transform: rotate(-315deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.icon.transform span:nth-child(4) {
  top: 2vh;
  width: 0%;
}

/* Menu Styles */
.menu {
  height: 0;
  width: 100vw;
  overflow: hidden;
  background-color: #6fffb0;
  position: fixed;
  list-style: none;
  margin-top: 0px;
}

.menu > ul li {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2vw 20vw;
  padding-top: 5vw;
}

.menu > ul li a {
  display: flex;
  align-content: center;
  text-decoration: none;
  color: #3d138e;
  font-size: 6vw;
  font-weight: bold;
}

.menu > ul li a:hover {
  color: #fd6fff;
}

/* Handles Expanded Menu */
.menu.display {
  height: auto;
  top: 8vh;
  right: 0;
  bottom: 0;
}
