.hamburger {
  right: 0;
  float: right;
  margin: 20px;
  background-color: #7D4CDB;
  border: none;
  position: fixed;

}

.hamburger div {
  width: 8vw;
  height: 1vw;
  background-color: #6FFFB0;
  margin: 6px 0;
}

.menu {
  height:0;
  width: 100vw;
  overflow: hidden;
  background-color: #6FFFB0;
  position: fixed;
  list-style: none;
  margin-top: 0px;


}

.menu .close {
  float: right;
  text-decoration: none;
  color: #3D138E;
  font-size: 5vw;
  padding: 5vw;
  height: 100%;
}

.menu > ul li {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2vw 20vw;
}

.menu > ul li a {
  display: flex;
  align-content: center;
  text-decoration: none;
  color: #3D138E;
  font-size: 6vw;
  font-weight: bold;

}

.menu ul li a:hover {
  color: #FD6FFF;

}
.menu.show-menu {
  height: auto;
  top: 0;
  right:0;
  bottom: 0;
 
}