/* Full Navbar */
.topnav {
  overflow: hidden;
  background-color: #7D4CDB;
  height: 8vh;
  max-height: 15vh;
  width: 100%;
  position: fixed;
  transition: 300ms ease-in-out;
  left: 0;
  align-items: center;
  display: flex;
}

.topnav img {
  margin: 2%;
  max-height: 75%;
  max-width: 75%;
}

.fullnav {
  margin-left: auto;
  display: flex;
  list-style-type: none;
}

.mobilenav {
  display: none;
}

/* Mobile Navbar */
@media screen and (max-width: 1000px) {
  .topnav img {
    margin: 3%;
    max-height: 80%;
    max-width: 80%;
  }

  .mobilenav {
      display: flex;
      right: 0;
      top: 0;
      position: absolute;

  }
  .fullnav {
    display:none;
  }
}