.topnav {
  overflow: hidden;
  background-color: #7D4CDB;
  height: 60px;
  width: 100%;
  position: fixed;
  transition: 'top 0.6s';
  left: 0;
}

.topnav a {
  float: left;
  color: #6FFFB0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #6FFFB0;
  color: #7D4CDB;
}